/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap");
/* GLOBALS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  height: 100%;
  width: 100%; }

body {
  margin: 0 auto;
  width: 90%;
  height: 100%;
  font-family: 'Space Mono', monospace; }

h1 {
  font-size: 64px; }

p {
  font-size: 24px; }

h4 {
  font-size: 24px; }

/* PARTIALS */
header {
  height: 5%;
  display: flex;
  align-items: flex-end; }
  header h4 {
    font-family: 'Inconsolata', monospace; }

footer {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: flex-end; }

@media (max-width: 480px) {
  footer {
    height: 10%; } }

/* PAGES */
main {
  height: 85%;
  display: flex; }
  main .main--imageSection {
    display: flex;
    flex: 0 0 50%;
    align-items: center;
    justify-content: center; }
    main .main--imageSection img {
      width: 70%;
      height: 70%;
      padding: 2rem; }
  main .main--textSection {
    flex: 1; }
    main .main--textSection h1 {
      line-height: 95px;
      padding-top: 2rem;
      letter-spacing: -0.035em;
      margin-left: 1.5rem; }
    main .main--textSection p {
      width: 60%;
      padding: 2rem 0 2rem 0;
      margin-left: 1.5rem;
      line-height: 36px;
      letter-spacing: -0.035em; }
    main .main--textSection button {
      margin-top: 2rem;
      margin-left: 1.5rem;
      background-color: #333333;
      color: white;
      padding: 2rem; }

@media (max-width: 1024px) {
  main .main--imageSection img {
    width: 100%; }
  main .main--textSection p {
    width: 100%; } }

@media (max-width: 480px) {
  main {
    height: 145%;
    display: flex;
    flex-direction: column; }
    main .main--imageSection img {
      width: 80%;
      height: 80%; }
    main .main--textSection h1 {
      font-size: 48px;
      padding-top: 0; }
    main .main--textSection p {
      width: 90%;
      line-height: 27px;
      font-size: 18px;
      letter-spacing: -0.035em; }
    main .main--textSection button {
      width: 216px;
      height: 68px; } }
